@media screen and (max-width: 1024px){
    /*aviso */
    .avisoCard{
 
        width: 100%;
        height: 100%;
        
       
      
     
    }
    
    
    .cardAviso{

        width: 100%;
        height: 450px;
        top: 100px;
        left: 0;
 
        }
       
    .avisoInit{
        left: 20%;
        font-size: 30px;
    }
    
    .aviso-text{
        left: 18%;
        top: 20%;
        font-size: 25px;
        
    }
    

    .buttonx{
  
        left: 92%;
        width: 30px;
        height: 30px;
        border-radius: 10px;
        font-size: 10px;
        text-align: center;
    }
    
    .gato{
        left: 0;
        margin-top: 200px;
        width: 100%;
        height: 150px;
    }

        /*texto incial */

   
        .text-inicial{
 
          left: 10px;
          top: 10px;
          width: 350px;
          height: 500px;
  
        
        
        }
        .text{
          margin-top: 100px;
          margin-left: 10px;
        }
        .text h1{
      
          font-size: 30px;
          width: 300px;
          margin-top: -80px;
        }
        .text p{
          font-size: 20px;
          width: 300px;
        }
  
        .ver{
      
          margin-left: 0px;
          border: 2px solid white;
          border-radius: 10px;
          width: 99%;
          height: 40px;
        

        }
   
        
        #verLista{
      
          width: 300px;
          height: 30px;         
          font-size: 25px;
        
          }
          .jess{
           position: absolute;
            width: 0px;
            height: 0px;
            left: 30%;
            top: 20%;
          }

          .jess img{
           
             width: auto;
             height: 350px;
             left: 0;
           }
        
         /*Lista */      
          
        #lista-item{
  height: 100vh;
  width: 100%;
  
  }
  
  header{
  padding:.1rem  1rem ;
  }
  
  
  .titleheader h1{
      background-color: var(--color-back-color);
      font-size: 26px;
  }
  
  
  /*main*/
  
  main{
       
      padding: 0.5rem;
  
      display: inline-block;
     margin-left: 30px;
      overflow-y: scroll;
      
  }

  .detalhes{
      background-color: var(--color-lista-white);

    
  }

  
  .item{
      display: inline-block;
     
      padding: 7px;
      font-size: 12px;
  
  }
   .item img{
      width: 8.2rem ;
      height: 7.4rem; 
       
   }
  
  
  /*footer*/
  footer{
      padding:4.5rem 2.2rem;
      
      height: 20px;

          
  }
  #outroLevar{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -60px;
      font-size: 26px;
      width: auto;
   
  }
  #comunique{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
 /*Form Presente*/
 
#fecharpresente{
    width: 20px; 
    margin-left: 350px;
}


.cardpresente{
    left: 2%;
    top: 10%;
    height: 70%;
    width: 95%;
   

    }
}

