@media screen and (max-width: 768px){
    /*aviso */
    .avisoCard{
 
        width: 100%;
        height: 100%;
        
       
      
     
    }
    
    
    .cardAviso{

        width: 310px;
        height: 450px;
        top: 100px;
        left: 30px;
 
        }
       
    .avisoInit{
        left: 10%;
        font-size: 30px;
    }
    
    .aviso-text{
        left: 7%;
        top: 20%;
        font-size: 25px;
        
    }
    

    .buttonx{
  
        left: 16.2rem;
        width: 50px;
        height: 20px;
        font-size: 10px;
    }
    
    .gato{
        left: 7%;
        margin-top: 200px;
        width: 270px;
        height: 150px;
    }

        /*texto incial */

   
        .text-inicial{
 
          left: 10px;
          top: 10px;
          width: 350px;
          height: 500px;
  
        
        
        }
        .text{
          margin-top: 100px;
          margin-left: 10px;
        }
        .text h1{
      
          font-size: 30px;
          width: 300px;
        }
        .text p{
          font-size: 20px;
          width: 300px;
        }
  
        .ver{
      
          margin-left: 30px;
          border: 2px solid white;
          border-radius: 10px;
          width: 310px;
          height: 40px;
        

        }
   
        
        #verLista{
      
          width: 300px;
          height: 30px;         
          font-size: 25px;
        
          }
        
         /*Lista */      
          
        #lista-item{
  height: 100vh;
  width: 100%;
  
  }
  
  header{
  padding:.1rem  1rem ;
  }
  
  
  .titleheader h1{
      background-color: var(--color-back-color);
      font-size: 26px;
  }
  
  
  /*main*/
  
  main{
       
      padding: 0.5rem;
  
      display: inline-block;
      overflow-y: scroll;
  }

  .detalhes{
      background-color: var(--color-lista-white);

    
  }

  
  .item{
      display: inline-block;
      gap: 2.4rem;
      padding: 10px;
  
  
  }
   .item img{
      width: 8.4rem ;
      height: 8.4rem;  
   }
  
  
  /*footer*/
  footer{
      padding:4.5rem 2.2rem;
      
      height: 20px;

          
  }
  #outroLevar{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -60px;
      font-size: 26px;
      width: auto;
   
  }
  #comunique{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
 /*Form Presente*/
 
#fecharpresente{
    background-color: white;
    color: var(--color--primary);
    border: none;
    border-radius: 10px;
    width: 50px;
    cursor: pointer;
  
    margin-left: 350px;
    
}
#fecharpresente:active{
    transform: scale(0.95);
}

.presente{
    position: absolute;
    background-color: rgba(115, 91, 121, 0.8);
    top: 0;
    width: 100%;
    height: 100%;
    
   
  
 
}

.cardpresente{
    left: 1%;
    top: 10%;
    color: white;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    }
    #textpresent{
        background-color: var(--color--primary);
       
        font-size: 40px;
    }
    #p{
        font-size: 45px;

    }
 
    form{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
        background-color: var(--color--primary);
       
    }

    form input{
        width: 70%;
        height: 15%;
        border-radius: 20px;
        border: 2px solid black;
    }

    .enviar{
        width: 50%;  
        cursor: pointer;
    }

   
    .enviar:active{
        transform: scale(0.95);
    }

}