:root {
    --color-back-color: #000;
    --color--primary: rgb(153, 44, 204);
    --color-lista: #3f3f46;
    --color-lista-escuro: #1b1b1d;
    --color-lista-white: #ffffff;
  }

.text-inicial{
  display: flex;
  justify-content: center;
  align-self:center;
  left: 10px;
  top: 130px;
  width: 40%;
  color: white;    


}
.text{
  margin-top: 80px;
  margin-left: 30px;
  font-size: 25px;
}

p{
   color: blueviolet;

}

.ver{
  display: flex;
  justify-content: center;
  align-self:center;
  margin-top: 50px;
  margin-left: 30px;
  border: 2px solid white;
  border-radius: 10px;
  width: 490px;
  height: 70px;

transition: 2s background-color;
}
.ver:hover{
    background-color: var(--color--primary);
   
}

#verLista{
  display: flex;
  justify-content: center;
  align-self:center;
  width: 440px ;
  height: 50px;
  border-radius: 10px;
  background-color: var(--color-lista);
  color: var(--color--primary);
  font-family: 'Lucida Sans';
  font-size: 35px;
  border: none;
  cursor: pointer;
  transition: 2.5s background-color;
  }

  #verLista:hover{
    background-color: var(--color--primary);
    color: #000;
   
  }

  .jess{
    position: absolute;
    left: 50%;
  }